---
title: ตรวจสอบบัญชีลูก GDPR 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 01/15/2019
ms.locfileid: "28316120"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>วันเกิดที่แสดงอยู่ในบัญชี Microsoft ของคุณไม่ถูกต้อง

Microsoft จะรักษาความปลอดภัยบัญชีสำคัญมาก คุณอาจได้เพิ่งรับการพร้อมท์เพื่อให้ได้รับความยินยอมโดยผู้ปกครองสำหรับบัญชี Microsoft ข้อมูลรอง ถ้าคุณต้องการให้ความช่วยเหลือให้ความยินยอมโดยผู้ปกครอง หรือการปรับปรุงวันที่ที่เกิดในบัญชี Microsoft ดู[อายุการตรวจสอบสำหรับความยินยอมโดยผู้ปกครอง](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
เรียนรู้เพิ่มเติมเกี่ยวกับการ[ได้รับความยินยอมโดยผู้ปกครองและบัญชีรองของ Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365)
  

