---
title: การตรวจสอบ EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946798"
---
# <a name="edu-verification"></a>การตรวจสอบ EDU

ในกรณีส่วนใหญ่ การร้องขอสิทธิ์ทางการศึกษาจะถูกประมวลผลภายใน 24-48 ชั่วโมง บางการร้องขออาจต้องมีการตรวจทานโดยละเอียดมากขึ้น และอาจใช้เวลาถึง 10 วันเพื่อประมวลผลวันทางธุรกิจ เมื่อเสร็จสมบูรณ์แล้ว เราจะส่งอีเมลที่มีสถานะสิทธิ์ของโรงเรียนของคุณ

**สําคัญ** ถ้าคุณออกจากตัวช่วยสร้างการตรวจสอบก่อนที่จะใส่โดเมน คุณสามารถกลับมาที่ตัวช่วยสร้างการตรวจสอบ [การศึกษาได้ตลอดเวลาระหว่าง](https://go.microsoft.com/fwlink/p/?linkid=2135255) การทดลองใช้ฟรีของคุณ

ถ้าคุณต้องการตรวจสอบสถานะโดเมนของคุณ ให้ไปที่ศูนย์การจัดการ Microsoft 365 [](https://go.microsoft.com/fwlink/p/?linkid=2024339) บนหน้าแรก ให้เลื่อนไปที่ด้านล่างและค้นหา **บัตร** การเรียกเก็บเงิน **บัตร** การเรียกเก็บเงินจะระบุสถานะของกระบวนการตรวจสอบ (อนุมัติ รออยู่ ปฏิเสธ หรือเพิ่มโดเมนของคุณ)

ถ้าการร้องขอของคุณถูกปฏิเสธ [ให้ดู โรงเรียนของฉันไม่มีสิทธิ์ ฉันต้องฉันต้องอะไรบ้างในตอนนี้](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)