---
title: การตรวจสอบ EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138977"
---
# <a name="edu-verification"></a>การตรวจสอบ EDU

คุณจะได้รับอีเมลแจ้งให้ทราบว่าสิทธิ์ขององค์กรได้รับการอนุมัติแล้วหรือไม่

ในบางกรณี คุณอาจต้องรอถึง 48 ชั่วโมงเพื่อให้การยืนยัน DNS เสร็จสมบูรณ์ คุณสามารถคลิก "ฉันจะตรวจสอบในภายหลัง" และกลับมาใหม่ในภายหลังและเข้าสู่ระบบพอร์ทัล Office 365; จากนั้นไปที่**[ศูนย์การจัดการ](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage)>การตั้งค่า**และคลิก[โดเมน](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains)เพื่อตรวจสอบรายการสถานะสําหรับโดเมนของคุณ

เมื่อคุณได้รับการอนุมัติ แล้ว คุณสามารถไปที่แท็บ**[ซื้อบริการ](https://go.microsoft.com/fwlink/p/?linkid=868433)** ของศูนย์การจัดการ Microsoft เพื่อซื้อการสมัครใช้งาน
