---
title: การตรวจสอบความถูกต้องของ EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710358"
---
# <a name="edu-verification"></a><span data-ttu-id="2133c-102">การตรวจสอบความถูกต้องของ EDU</span><span class="sxs-lookup"><span data-stu-id="2133c-102">EDU verification</span></span>

<span data-ttu-id="2133c-103">ในกรณีส่วนใหญ่คำขอสิทธิ์ด้านการศึกษาจะได้รับการดำเนินการภายใน24-48 ชั่วโมง</span><span class="sxs-lookup"><span data-stu-id="2133c-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="2133c-104">การร้องขอบางอย่างอาจจำเป็นต้องมีการตรวจสอบอย่างละเอียดมากขึ้นและอาจใช้เวลาถึง10วันทำการในการประมวลผล</span><span class="sxs-lookup"><span data-stu-id="2133c-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="2133c-105">เมื่อเสร็จสมบูรณ์แล้วเราจะส่งอีเมลด้วยสถานะสิทธิ์ของโรงเรียนของคุณ</span><span class="sxs-lookup"><span data-stu-id="2133c-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="2133c-106">**สำคัญ** ถ้าคุณออกจากตัวช่วยสร้างการตรวจสอบก่อนที่จะเข้าสู่โดเมนคุณสามารถ [ดำเนินการตัวช่วยสร้างการตรวจสอบทางวิชาการต่อ](https://go.microsoft.com/fwlink/p/?linkid=2135255) ได้ตลอดเวลาในระหว่างการทดลองใช้ฟรีของคุณ</span><span class="sxs-lookup"><span data-stu-id="2133c-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="2133c-107">ถ้าคุณต้องการตรวจสอบสถานะของโดเมนของคุณให้ไปที่[ศูนย์การจัดการ Microsoft ๓๖๕](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="2133c-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="2133c-108">บนโฮมเพจให้เลื่อนไปที่ด้านล่างและค้นหาบัตรการ**เรียกเก็บเงิน**</span><span class="sxs-lookup"><span data-stu-id="2133c-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="2133c-109">บัตรการ **เรียกเก็บเงิน** ระบุสถานะของกระบวนการตรวจสอบความถูกต้อง (ได้รับการอนุมัติ, ค้างอยู่, ปฏิเสธหรือเพิ่มโดเมนของคุณ)</span><span class="sxs-lookup"><span data-stu-id="2133c-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="2133c-110">ถ้าการร้องขอของคุณถูกปฏิเสธให้ดูที่ [โรงเรียนของฉันไม่มีสิทธิ์ ฉันควรทำอะไรในตอนนี้](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="2133c-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>