---
title: การตรวจสอบความถูกต้องของ EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710358"
---
# <a name="edu-verification"></a>การตรวจสอบความถูกต้องของ EDU

ในกรณีส่วนใหญ่คำขอสิทธิ์ด้านการศึกษาจะได้รับการดำเนินการภายใน24-48 ชั่วโมง การร้องขอบางอย่างอาจจำเป็นต้องมีการตรวจสอบอย่างละเอียดมากขึ้นและอาจใช้เวลาถึง10วันทำการในการประมวลผล เมื่อเสร็จสมบูรณ์แล้วเราจะส่งอีเมลด้วยสถานะสิทธิ์ของโรงเรียนของคุณ

**สำคัญ** ถ้าคุณออกจากตัวช่วยสร้างการตรวจสอบก่อนที่จะเข้าสู่โดเมนคุณสามารถ [ดำเนินการตัวช่วยสร้างการตรวจสอบทางวิชาการต่อ](https://go.microsoft.com/fwlink/p/?linkid=2135255) ได้ตลอดเวลาในระหว่างการทดลองใช้ฟรีของคุณ

ถ้าคุณต้องการตรวจสอบสถานะของโดเมนของคุณให้ไปที่[ศูนย์การจัดการ Microsoft ๓๖๕](https://go.microsoft.com/fwlink/p/?linkid=2024339) บนโฮมเพจให้เลื่อนไปที่ด้านล่างและค้นหาบัตรการ**เรียกเก็บเงิน** บัตรการ **เรียกเก็บเงิน** ระบุสถานะของกระบวนการตรวจสอบความถูกต้อง (ได้รับการอนุมัติ, ค้างอยู่, ปฏิเสธหรือเพิ่มโดเมนของคุณ)

ถ้าการร้องขอของคุณถูกปฏิเสธให้ดูที่ [โรงเรียนของฉันไม่มีสิทธิ์ ฉันควรทำอะไรในตอนนี้](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)