---
title: การตรวจสอบ EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205286"
---
# <a name="edu-verification"></a>การตรวจสอบ EDU

ในกรณีส่วนใหญ่คําขอสิทธิ์ทางวิชาการจะดําเนินการภายใน 24-48 ชั่วโมง คําขอบางคําขออาจต้องตรวจสอบอย่างละเอียดมากขึ้นและอาจใช้เวลาดําเนินการได้ถึง 10 วันทําการ เมื่อเสร็จสิ้นแล้ว เราจะส่งอีเมลพร้อมสถานะการมีสิทธิ์ของโรงเรียนของคุณ

**สิ่งสําคัญ** ถ้าคุณออกจากตัวช่วยสร้างการยืนยันก่อนเข้าสู่โดเมน คุณสามารถ[กลับมาใช้ตัวช่วยสร้างการยืนยันทางวิชาการอีกครั้ง](https://go.microsoft.com/fwlink/p/?linkid=2135255)ได้ตลอดเวลาในระหว่างทดลองใช้ฟรี

หากคุณต้องการตรวจสอบสถานะโดเมนของคุณ ให้ไปที่[ศูนย์การจัดการ Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339) ในหน้าแรก ให้เลื่อนไปที่ด้านล่างและค้นหาบัตร**การเรียกเก็บเงิน** บัตร**การเรียกเก็บเงิน**จะแสดงสถานะของกระบวนการยืนยัน (อนุมัติ ค้างอยู่ ถูกปฏิเสธ หรือเพิ่มโดเมนของคุณ)

หากคําขอของคุณถูกปฏิเสธ โปรดดู[โรงเรียนของฉันไม่มีสิทธิ์ แล้วตอนนี้ฉันต้องทํายังไง](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)