---
title: การตรวจสอบ EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205286"
---
# <a name="edu-verification"></a><span data-ttu-id="3a784-102">การตรวจสอบ EDU</span><span class="sxs-lookup"><span data-stu-id="3a784-102">EDU verification</span></span>

<span data-ttu-id="3a784-103">ในกรณีส่วนใหญ่คําขอสิทธิ์ทางวิชาการจะดําเนินการภายใน 24-48 ชั่วโมง</span><span class="sxs-lookup"><span data-stu-id="3a784-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="3a784-104">คําขอบางคําขออาจต้องตรวจสอบอย่างละเอียดมากขึ้นและอาจใช้เวลาดําเนินการได้ถึง 10 วันทําการ</span><span class="sxs-lookup"><span data-stu-id="3a784-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="3a784-105">เมื่อเสร็จสิ้นแล้ว เราจะส่งอีเมลพร้อมสถานะการมีสิทธิ์ของโรงเรียนของคุณ</span><span class="sxs-lookup"><span data-stu-id="3a784-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="3a784-106">**สิ่งสําคัญ** ถ้าคุณออกจากตัวช่วยสร้างการยืนยันก่อนเข้าสู่โดเมน คุณสามารถ[กลับมาใช้ตัวช่วยสร้างการยืนยันทางวิชาการอีกครั้ง](https://go.microsoft.com/fwlink/p/?linkid=2135255)ได้ตลอดเวลาในระหว่างทดลองใช้ฟรี</span><span class="sxs-lookup"><span data-stu-id="3a784-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="3a784-107">หากคุณต้องการตรวจสอบสถานะโดเมนของคุณ ให้ไปที่[ศูนย์การจัดการ Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="3a784-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="3a784-108">ในหน้าแรก ให้เลื่อนไปที่ด้านล่างและค้นหาบัตร**การเรียกเก็บเงิน**</span><span class="sxs-lookup"><span data-stu-id="3a784-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="3a784-109">บัตร**การเรียกเก็บเงิน**จะแสดงสถานะของกระบวนการยืนยัน (อนุมัติ ค้างอยู่ ถูกปฏิเสธ หรือเพิ่มโดเมนของคุณ)</span><span class="sxs-lookup"><span data-stu-id="3a784-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="3a784-110">หากคําขอของคุณถูกปฏิเสธ โปรดดู[โรงเรียนของฉันไม่มีสิทธิ์ แล้วตอนนี้ฉันต้องทํายังไง](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="3a784-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>