---
title: การตรวจสอบ EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814391"
---
# <a name="edu-verification"></a><span data-ttu-id="42a30-102">การตรวจสอบ EDU</span><span class="sxs-lookup"><span data-stu-id="42a30-102">EDU verification</span></span>

<span data-ttu-id="42a30-103">ในกรณีส่วนใหญ่ การร้องขอสิทธิ์ทางการศึกษาจะถูกประมวลผลภายใน 24-48 ชั่วโมง</span><span class="sxs-lookup"><span data-stu-id="42a30-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="42a30-104">บางการร้องขออาจต้องมีการตรวจทานโดยละเอียดมากขึ้น และอาจใช้เวลาถึง 10 วันเพื่อประมวลผลวันทางธุรกิจ</span><span class="sxs-lookup"><span data-stu-id="42a30-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="42a30-105">เมื่อเสร็จสมบูรณ์แล้ว เราจะส่งอีเมลที่มีสถานะสิทธิ์ของโรงเรียนของคุณ</span><span class="sxs-lookup"><span data-stu-id="42a30-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="42a30-106">**สําคัญ** ถ้าคุณออกจากตัวช่วยสร้างการตรวจสอบก่อนที่จะใส่โดเมน คุณสามารถกลับมาที่ตัวช่วยสร้างการตรวจสอบ [การศึกษาได้ตลอดเวลาระหว่าง](https://go.microsoft.com/fwlink/p/?linkid=2135255) การทดลองใช้ฟรีของคุณ</span><span class="sxs-lookup"><span data-stu-id="42a30-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="42a30-107">หากคุณต้องการตรวจสอบสถานะโดเมนของคุณ ให้ไปที่ ศูนย์การจัดการ[Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="42a30-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="42a30-108">บนหน้าแรก ให้เลื่อนไปที่ด้านล่างและค้นหา **บัตร** การเรียกเก็บเงิน</span><span class="sxs-lookup"><span data-stu-id="42a30-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="42a30-109">**บัตร** การเรียกเก็บเงินจะระบุสถานะของกระบวนการตรวจสอบ (อนุมัติ รออยู่ ปฏิเสธ หรือเพิ่มโดเมนของคุณ)</span><span class="sxs-lookup"><span data-stu-id="42a30-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="42a30-110">ถ้าการร้องขอของคุณถูกปฏิเสธ [ให้ดู โรงเรียนของฉันไม่มีสิทธิ์ ฉันต้องฉันต้องอะไรบ้างในตอนนี้](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="42a30-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>