---
title: ๘๐๐๐๐๓๘ GDPR การตรวจสอบบัญชีผู้ใช้ของเด็ก
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707982"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>วันเดือนปีเกิดที่แสดงในบัญชี Microsoft ของคุณไม่ถูกต้อง

ไมโครซอฟท์จะรักษาความปลอดภัยของบัญชีผู้ใช้อย่างจริงจัง คุณอาจได้รับพร้อมท์ให้ให้ความยินยอมจากผู้ปกครองสำหรับบัญชี Microsoft ของบุตรหลาน ถ้าคุณต้องการความช่วยเหลือในการให้ความยินยอมจากผู้ปกครองหรือการอัปเดตวันเกิดในบัญชี Microsoft ให้ดูที่การ [ตรวจสอบอายุสำหรับความยินยอม](https://go.microsoft.com/fwlink/p/?linkid=874364)ของผู้ปกครอง
  
เรียนรู้เพิ่มเติมเกี่ยวกับ[ความยินยอมจากผู้ปกครองและบัญชีรองของ Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365)
  