---
title: 8000038การตรวจสอบบัญชีของเด็กใน GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057013"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>วันเกิดที่แสดงในบัญชี Microsoft ของคุณไม่ถูกต้อง

Microsoft รักษาความปลอดภัยของบัญชีเป็นอย่างมาก คุณอาจได้รับพร้อมท์เมื่อเร็วๆ นี้ให้มอบความยินยอมจากผู้ปกครองให้บัญชี Microsoft ของเด็ก หากคุณต้องการความช่วยเหลือในการให้ความยินยอมจากผู้ปกครองหรืออัปเดตวันเกิดในบัญชี Microsoft โปรดดู การตรวจสอบอายุเพื่อ [ความยินยอมจาก](https://go.microsoft.com/fwlink/p/?linkid=874364)ผู้ปกครอง
  
เรียนรู้เพิ่มเติมเกี่ยวกับความยินยอม [จากผู้ปกครองและบัญชีของเด็กของ](https://go.microsoft.com/fwlink/p/?linkid=874365)Microsoft
  