---
title: 8000038การตรวจสอบบัญชีเด็ก GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764999"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="d087d-102">วันเกิดที่แสดงในบัญชี Microsoft ไม่ถูกต้อง</span><span class="sxs-lookup"><span data-stu-id="d087d-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="d087d-103">ไมโครซอฟท์จะรักษาความปลอดภัยบัญชีมากอย่างจริงจัง</span><span class="sxs-lookup"><span data-stu-id="d087d-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="d087d-104">คุณอาจได้รับพร้อมท์ให้แจ้งความยินยอมจากผู้ปกครองสําหรับบัญชี Microsoft ของเด็ก</span><span class="sxs-lookup"><span data-stu-id="d087d-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="d087d-105">หากคุณต้องการความช่วยเหลือในการให้ความยินยอมจากผู้ปกครองหรืออัปเดตวันเกิดในบัญชี Microsoft โปรดดู[การตรวจสอบอายุสําหรับความยินยอมจากผู้ปกครอง](https://go.microsoft.com/fwlink/p/?linkid=874364)</span><span class="sxs-lookup"><span data-stu-id="d087d-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="d087d-106">เรียนรู้เพิ่มเติมเกี่ยวกับ[การยินยอมจากผู้ปกครอง และ บัญชีเด็กของ Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365)</span><span class="sxs-lookup"><span data-stu-id="d087d-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  