---
title: แก้ไขปัญหาการตรวจสอบผู้เผยแพร่
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: eb406eef2ac4e1bcebffcca91ec8706ac3c7a7f1b4c58a5da3a4e386b55700fb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 08/05/2021
ms.locfileid: "54008019"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>ปัญหาที่เกี่ยวข้องกับการตรวจสอบPublisherการตรวจสอบความถูกต้องให้กับนักพัฒนา

**ขั้นตอนที่แนะนา** 

เมื่อต้องการแก้ไขปัญหาที่เกี่ยวข้องกับการตรวจสอบผู้เผยแพร่ ให้ปฏิบัติตามขั้นตอนด้านล่าง:

1. ตรวจสอบข้อเบื้องต้นและความต้องการอื่นๆ เพื่อให้แน่ใจว่าข้อมูลเหล่านั้นเป็นไปตามข้อกติเบื้องต้นแล้ว
2. ตรวจสอบคําแนะ [นําเพื่อตั้งให้แอปเป็นผู้เผยแพร่ที่ผ่าน](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) การตรวจสอบและให้แน่ใจว่าทุกขั้นตอนเสร็จสมบูรณ์
3. ตรวจสอบรายการปัญหา [ทั่วไปและ](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) ปฏิบัติตามขั้นตอนที่แนะนาถ้าคุณมีปัญหาจากรายการดังกล่าว
4. สร้างซ้Graph[โดยใช้ Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls)เพื่อรวบรวมข้อมูลเพิ่มเติมและกฏปัญหาใดๆ ใน UI

**เอกสารที่แนะนา**

- [Publisherการตรวจสอบความถูกต้อง - ภาพรวม](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [การเครื่องหมายแอปของคุณว่าผู้เผยแพร่ได้รับการตรวจสอบแล้ว](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [แก้ไขปัญหาการตรวจสอบผู้เผยแพร่](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

