---
title: การแก้ไขปัญหาการตรวจสอบ publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885374"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>ปัญหาที่เกี่ยวข้องกับการตรวจสอบผู้เผยแพร่สำหรับนักพัฒนา

**ขั้นตอนที่แนะนำ** 

เมื่อต้องการแก้ไขปัญหาที่เกี่ยวข้องกับการตรวจสอบ publisher ให้ดำเนินการตามขั้นตอนต่อไปนี้

1. รีวิวข้อกำหนดเบื้องต้นและข้อกำหนดอื่นๆเพื่อให้แน่ใจว่าพวกเขาจะได้รับการตอบสนองทั้งหมด
2. ตรวจทานคำแนะนำในการ [ทำเครื่องหมายแอปในการตรวจ](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) สอบความถูกต้องของ publisher แล้วตรวจสอบให้แน่ใจว่ามีการดำเนินการตามขั้นตอนทั้งหมด
3. ตรวจทานรายการ [ปัญหาทั่วไป](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) และทำตามขั้นตอนที่แนะนำถ้าคุณมีปัญหาจากรายการดังกล่าว
4. การทำซ้ำการร้องขอโดยใช้ [กราฟ Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) เพื่อรวบรวมข้อมูลเพิ่มเติมและกฎออกจากปัญหาใดๆใน UI

**เอกสารที่แนะนำ**

- [การตรวจสอบความถูกต้องของ Publisher-ภาพรวม](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [ทำเครื่องหมายแอปของคุณเป็นผู้เผยแพร่ที่ผ่านการตรวจสอบ](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [การแก้ไขปัญหาการตรวจสอบ publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

