---
title: การแก้ไขปัญหาการตรวจสอบ publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: th-TH
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885374"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="b5bbf-102">ปัญหาที่เกี่ยวข้องกับการตรวจสอบผู้เผยแพร่สำหรับนักพัฒนา</span><span class="sxs-lookup"><span data-stu-id="b5bbf-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="b5bbf-103">**ขั้นตอนที่แนะนำ**</span><span class="sxs-lookup"><span data-stu-id="b5bbf-103">**Recommended steps**</span></span> 

<span data-ttu-id="b5bbf-104">เมื่อต้องการแก้ไขปัญหาที่เกี่ยวข้องกับการตรวจสอบ publisher ให้ดำเนินการตามขั้นตอนต่อไปนี้</span><span class="sxs-lookup"><span data-stu-id="b5bbf-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="b5bbf-105">รีวิวข้อกำหนดเบื้องต้นและข้อกำหนดอื่นๆเพื่อให้แน่ใจว่าพวกเขาจะได้รับการตอบสนองทั้งหมด</span><span class="sxs-lookup"><span data-stu-id="b5bbf-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="b5bbf-106">ตรวจทานคำแนะนำในการ [ทำเครื่องหมายแอปในการตรวจ](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) สอบความถูกต้องของ publisher แล้วตรวจสอบให้แน่ใจว่ามีการดำเนินการตามขั้นตอนทั้งหมด</span><span class="sxs-lookup"><span data-stu-id="b5bbf-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="b5bbf-107">ตรวจทานรายการ [ปัญหาทั่วไป](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) และทำตามขั้นตอนที่แนะนำถ้าคุณมีปัญหาจากรายการดังกล่าว</span><span class="sxs-lookup"><span data-stu-id="b5bbf-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="b5bbf-108">การทำซ้ำการร้องขอโดยใช้ [กราฟ Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) เพื่อรวบรวมข้อมูลเพิ่มเติมและกฎออกจากปัญหาใดๆใน UI</span><span class="sxs-lookup"><span data-stu-id="b5bbf-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="b5bbf-109">**เอกสารที่แนะนำ**</span><span class="sxs-lookup"><span data-stu-id="b5bbf-109">**Recommended documents**</span></span>

- [<span data-ttu-id="b5bbf-110">การตรวจสอบความถูกต้องของ Publisher-ภาพรวม</span><span class="sxs-lookup"><span data-stu-id="b5bbf-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="b5bbf-111">ทำเครื่องหมายแอปของคุณเป็นผู้เผยแพร่ที่ผ่านการตรวจสอบ</span><span class="sxs-lookup"><span data-stu-id="b5bbf-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="b5bbf-112">การแก้ไขปัญหาการตรวจสอบ publisher</span><span class="sxs-lookup"><span data-stu-id="b5bbf-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

